<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.7.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.18" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.6" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.1.3" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net472" />
</packages>